<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phelps.goodssell.mapper.AdminInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.phelps.goodssell.entity.AdminInfo">
		<id column="id" property="id" />
		<result column="login_name" property="loginName" />
		<result column="login_pwd" property="loginPwd" />
		<result column="create_time" property="createTime" />
		<result column="flag" property="flag" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="type" property="type" />
		<result column="shop_code" property="shopCode" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name AS loginName, login_pwd AS loginPwd, create_time AS createTime, flag, last_login_time AS lastLoginTime, type, shop_code AS shopCode
    </sql>
</mapper>
