<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phelps.goodssell.mapper.UserBaseInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.phelps.goodssell.entity.UserBaseInfo">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="user_phone" property="userPhone" />
		<result column="user_email" property="userEmail" />
		<result column="state" property="state" />
		<result column="user_birth" property="userBirth" />
		<result column="user_total_score" property="userTotalScore" />
		<result column="user_level_code" property="userLevelCode" />
		<result column="user_card_code" property="userCardCode" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name AS userName, user_phone AS userPhone, user_email AS userEmail, state, user_birth AS userBirth, user_total_score AS userTotalScore, user_level_code AS userLevelCode, user_card_code AS userCardCode, create_time AS createTime
    </sql>
</mapper>
