<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phelps.goodssell.mapper.UserCardInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.phelps.goodssell.entity.UserCardInfo">
		<id column="id" property="id" />
		<result column="card_code" property="cardCode" />
		<result column="state" property="state" />
		<result column="shop_code" property="shopCode" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, card_code AS cardCode, state, shop_code AS shopCode, create_time AS createTime
    </sql>
</mapper>
